@import '../../../../variables.scss';
@import '../../../../mixins.scss';
.button {
  display: grid;
  place-items: center;
  width: 120px;
  height: 40px;
  border-radius: 0.125px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: $border-radius;
  transition: all 0.3s ease;
}
.darkMode {
  border: solid 1px $violet;
  color: $violet;
  background-color: $black;
  &:hover {
    color: $light-violet;
    border-color: $light-violet;
    filter: drop-shadow(0px 0px 10px $light-violet);
  }
}
.lightMode {
  border: solid 1px $violet;
  color: $violet;
  background-color: $white;
  &:hover {
    background-color: $light-violet;
    color: $white;
    border-color: $light-violet;
    filter: drop-shadow(0px 0px 10px $light-violet);
  }
}
