@import '../../variables.scss';
@import '../../mixins.scss';
.scrollDown {
  position: fixed;
  bottom: 60px;
  left: 0;
  z-index: 1000;
  animation: bounce 2.6s linear infinite;
  font-size: 1rem;
  @include lg {
    left: 20px;
    font-size: 2rem;
  }
}
.showScrollDown {
  display: block;
}
.hiddenScrollDown {
  display: none;
}
.darkAnimation {
  color: $white;
}
.lightAnimation {
  color: $light-violet;
}
.footer {
  width: 100%;
  min-height: $height-footer;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease;
  @include lg {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .contactMe {
      text-align: center;
      @include lg {
        font-size: $title;
      }
    }
    .contacts {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      @include lg {
        width: 50%;
        justify-content: flex-start;
        gap: 2rem;
      }
      a {
        /* width: 60px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include anchor;
      }
    }
  }
  .copy {
    flex-basis: 100%;
  }
}
.darkMode {
  background-color: $black-transparent;
  backdrop-filter: blur(4px);
  .contactMe {
    color: $white;
    filter: drop-shadow(0px 0px 4px $light-violet);
  }
  .contacts {
    a {
      @include interact-anchor;
    }
  }
  .copy {
    color: $white;
    filter: drop-shadow(0px 0px 4px $light-violet);
  }
}
.lightMode {
  background-color: $black;

  .contactMe {
    color: $white;
    filter: drop-shadow(0px 0px 4px $light-violet);
  }
  .contacts {
    a {
      @include interact-anchor;
    }
  }
  .copy {
    color: $white;
    filter: drop-shadow(0px 0px 4px $light-violet);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    bottom: 35px;
  }
  45% {
    bottom: 55px;
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
  }
}
