@import '../../variables.scss';
@import '../../mixins.scss';
.scrollDown {
  position: fixed;
  bottom: 60px;
  left: 0;
  z-index: 1000;
  animation: bounce 2.6s linear infinite;
  font-size: 1rem;
  @include lg {
    left: 20px;
    font-size: 2rem;
  }
}
.showScrollDown {
  display: block;
}
.hiddenScrollDown {
  display: none;
}
.darkAnimation {
  color: $white;
}
.lightAnimation {
  color: $light-violet;
}
.footer {
  width: 100%;
  min-height: $height-footer;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease;
  @include md {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 12rem;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 100px;
    min-width: 360px;
    .titleColumn {
      padding-top: 1rem;
      text-align: center;
      align-self: center;
      font-size: $title;
      @include md {
        font-size: $title-md;
      }
    }
    .socialMedia,
    .contacts,
    .routes {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      @include md {
        /* width: 0%;
        justify-content: flex-start;
         */
        gap: 2rem;
      }
      a {
        /* width: 60px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include anchor;
      }
    }
    .contacts,
    .routes {
      width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    .routes {
      align-items: flex-start;
    }
  }
  .copy {
    flex-basis: 100%;
    text-align: center;
  }
}
.darkMode {
  background-color: $black-transparent;
  backdrop-filter: blur(4px);
  .titleColumn {
    color: $white;
    filter: drop-shadow(0px 0px 4px $light-violet);
  }
  .contacts,
  .socialMedia,
  .routes {
    a {
      @include interact-anchor;
    }
  }
  .copy {
    color: $white;
    filter: drop-shadow(0px 0px 4px $light-violet);
  }
}
.lightMode {
  background-color: $white-transparent;

  .titleColumn {
    color: $dark-violet;
    /*     filter: drop-shadow(0px 0px 4px $light-violet);
 */
  }
  .contacts,
  .socialMedia,
  .routes {
    a {
      @include interact-anchor-dark;
    }
  }
  .copy {
    color: $black;
    filter: drop-shadow(0px 0px 2px $light-violet);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    bottom: 35px;
  }
  45% {
    bottom: 55px;
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
  }
}
