@import '../../variables.scss';
@import '../../mixins.scss';

.hero {
  position: relative;
  width: 100%;
  height: 100dvh;
  padding: 4rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background;
  @include lg {
    padding-right: 0;
    padding-bottom: 0;
    /* height: 100dvh; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include lg {
      align-self: flex-start;
      width: 720px;
    }
    /* .containerResume {
      .resumeParagraph {
        font-size: $text-size;
        text-wrap: pretty;
        @include lg {
          font-size: $title;
        }
      }
    } */
    .intro {
      padding-left: 10%;
      align-self: flex-start;
      font-size: $text-size;
      text-wrap: pretty;
      @include lg {
        font-size: $title;
      }
    }
  }
  .containerLinks {
    position: absolute;
    z-index: 90;
    bottom: 4%;
    @include lg {
      bottom: auto;
      right: 5%;
      top: 15%;
    }
  }
  .containerImage {
    display: none;
    z-index: 10;
    height: 100%;
    overflow: hidden;
    position: relative;
    @include lg {
      width: 50%;
      display: block;
    }
    .image {
      position: absolute;
      width: 100%;
      object-fit: contain;
      filter: drop-shadow(0px 0px 2px $white);
      right: -1000px;
      bottom: 0;
      @include xl {
        max-height: 920px;
        object-position: bottom;
      }
    }
    .child1 {
      animation: changeImage 90s ease infinite;
    }
    .child2 {
      animation: changeImage 90s ease infinite;
      animation-delay: 30s;
    }
    .child3 {
      animation: changeImage 90s ease infinite;
      animation-delay: 60s;
    }
  }
}

.darkMode {
  background: $dark-violet;
  background: linear-gradient(230deg, $violet 25%, transparent 55%);
  @include lg {
    background: $dark-violet;
    background: linear-gradient(
      300deg,
      $dark-violet 15%,
      $violet 25%,
      $violet 46%,
      $violet-transparent 50%,
      $violet-transparent-border 51%,
      transparent 52%
    );
  }
  .content {
    .containerResume {
      background-color: transparent;
      .resumeParagraph {
        color: $white;
        filter: drop-shadow(0px 0px 4px $white);
      }
    }
    .intro {
      color: $white; /* 
      filter: drop-shadow(0px 0px 4px $white); */
    }
    .containerButtons {
      background-color: transparent;
    }
  }
}
.lightMode {
  background: $dark-violet;
  background: linear-gradient(230deg, $violet 25%, transparent 55%);
  @include lg {
    background: $dark-violet;
    background: linear-gradient(300deg, $violet 25%, transparent 55%);
  }
  .content {
    .containerResume {
      background-color: transparent;
      .resumeParagraph {
        color: $black;
        filter: drop-shadow(0px 0px 4px $light-violet);
      }
    }
    .intro {
      color: $black;
      /* filter: drop-shadow(0px 0px 4px $violet); */
    }
    .containerButtons {
      background-color: transparent;
    }
  }
}
@keyframes changeImage {
  0% {
    opacity: 0.3;
  }
  2% {
    opacity: 0.9;
  }
  6% {
    opacity: 1;
    transform: translateX(-1000px);
  }
  30% {
    opacity: 1;
    transform: translateX(-1000px);
  }
  40% {
    opacity: 0.3;
    transform: translateY(1000px) translateX(-1000px);
  }
  100% {
    transform: translateY(1000px) translateX(1000px);
  }
}
