@import '../../variables.scss';
@import '../../mixins.scss';
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin-top: $height-nav;
  @include lg {
    margin-top: 0;
  }
  h2 {
    @include title-h2;
  }
  .containerPrhases {
    overflow: hidden;
    height: 40px;
    flex-shrink: 0;
    border-top: 0.4rem solid;
    border-bottom: 0.4rem solid;
    .prhases {
      display: flex;
      width: max-content;
      height: auto;
      gap: 2rem;
      animation: scrollH 80s linear infinite alternate;
    }
  }
  .containerInfo {
    display: flex;
    width: 100vw;
    height: 760px;
    /* flex-direction: column; */
    /* justify-content: center; */
    position: relative;
    @include lg {
      /* 
      flex-direction: row; */
    }
    .containerFaces {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 1s ease;
      .faces {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 2rem 4rem;
        margin: 0;
        backdrop-filter: blur(4px);
        @include lg {
          padding: 4rem 10rem;
        }
        @include xl {
          padding: 4rem 20%;
        }
      }
      .faceOne {
        transform: rotateY(0deg) translateZ(50vw);
        .containerDescription {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          padding: 1rem;
          font-size: $text-size-mobile;
          overflow: auto;
          @include md {
            @include scrollbar-style;
          }
          @include lg {
            font-size: $text-size;
          }
          p {
            text-wrap: pretty;
          }
        }
        .buttonNextPage {
          position: absolute;
          right: 40px;
          top: 50%;
          transform: translateY(-50%);
          font-size: $title;
          cursor: pointer;
          transition: color 0.2s ease;
          @include lg {
            right: 80px;
            font-size: $title-lg;
          }
          &:hover {
            color: $violet;
          }
        }
      }
      .faceTwo {
        transform: rotateY(90deg) translateZ(50vw);
        .buttonPrevPage {
          position: absolute;
          left: 40px;
          top: 50%;
          transform: translateY(-50%);
          font-size: $title;
          cursor: pointer;
          transition: color 0.2s ease;
          @include lg {
            left: 80px;
            font-size: $title-lg;
          }
          &:hover {
            color: $violet;
          }
        }
      }
    }
    .initialContainer {
      animation: scrollPageLeft 1s ease-in-out forwards;
      /* transform: rotateY(0); */
      .faces {
        animation: borderAppearL 1s linear;
      }
    }
    .rotateContainer {
      animation: scrollPageRight 1s ease-in-out forwards;
      /* transform: rotateY(-90deg); */
      .faces {
        animation: borderAppearR 1s linear;
      }
    }
  }
}
@keyframes borderAppearR {
  0% {
    border: none;
  }
  10% {
    border: 2px solid $white;
  }
  90% {
    border: 2px solid $white;
  }
  100% {
    border: none;
  }
}
@keyframes borderAppearL {
  0% {
    border: none;
  }
  10% {
    border: 2px solid $white;
  }
  90% {
    border: 2px solid $white;
  }
  100% {
    border: none;
  }
}
@keyframes scrollPageRight {
  0% {
    scale: 1;
    transform: rotateY(0);
    perspective: none;
  }
  20% {
    transform: rotateY(0);
  }
  30% {
    scale: 0.8;
  }
  75% {
    scale: 0.8;
    transform: rotateY(-90deg);
  }
  100% {
    scale: 1;
    transform: rotateY(-90deg);
  }
}
@keyframes scrollPageLeft {
  0% {
    scale: 1;
    transform: rotateY(-90deg);
  }
  20% {
    transform: rotateY(-90deg);
  }
  30% {
    scale: 0.8;
  }
  75% {
    scale: 0.8;
    transform: rotateY(0);
  }
  100% {
    scale: 1;
    transform: rotateY(0);
  }
}
.darkMode {
  @include scrollbar-style;
  @include lg {
    margin-top: 0;
  }
  .containerInfo {
    .containerFaces {
      .faceOne {
        .containerDescription {
          color: $white; /* 
    filter: drop-shadow(0px 0px 4px $white); */
        }
        .buttonNextPage {
          color: $white;
          &:hover {
            color: $violet;
          }
        }
      }
      .faceTwo {
        .buttonPrevPage {
          color: $white;
          &:hover {
            color: $violet;
          }
        }
      }
    }
  }
  .containerPrhases {
    background-color: $dark-violet;
    border-color: $white;
    animation: changeBorderDark 1.2s ease infinite alternate;
    filter: drop-shadow(0px 0px 4px $white-muted);
    .prhases {
      color: $white; /* 
      filter: drop-shadow(0px 0px 1px $white); */
    }
  }
}
.lightMode {
  @include scrollbar-style;
  @include lg {
    margin-top: 0;
  }
  .containerInfo {
    .containerFaces {
      .faceOne {
        .containerDescription {
          color: $black;
          filter: drop-shadow(0px 0px 4px $white);
        }
        .buttonNextPage {
          color: $light-violet;
          &:hover {
            color: $violet;
          }
        }
      }
      .faceTwo {
        .buttonPrevPage {
          color: $light-violet;
          &:hover {
            color: $violet;
          }
        }
      }
    }
  }
  .containerPrhases {
    background-color: $white;
    border-color: $dark-violet;
    animation: changeBorderLight 1.2s ease infinite alternate;
    filter: drop-shadow(0px 0px 4px $white);
    .prhases {
      color: $black;
      filter: drop-shadow(0px 0px 1px $black);
    }
  }
}

@keyframes scrollH {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5100px);
  }
}
@keyframes changeBorderDark {
  0% {
    border-color: $white;
  }
  50% {
    border-color: $light-grey;
  }
  100% {
    border-color: $white;
  }
}
@keyframes changeBorderLight {
  0% {
    border-color: $light-violet;
  }
  50% {
    border-color: $violet;
  }
  100% {
    border-color: $light-violet;
  }
}
