@import '../../../../variables.scss';
@import '../../../../mixins.scss';
.cv {
  font-size: $title;
  transition:
    color 0.3s ease,
    filter 0.3s ease;
}
.darkMode {
  color: $violet;
  &:hover {
    color: $light-violet;
    filter: drop-shadow(0px 0px 10px $light-violet);
  }
}
.lightMode {
  color: $violet;
  &:hover {
    color: $light-violet;
    filter: drop-shadow(0px 0px 10px $light-violet);
  }
}
