//colors
$light-blue: #1f41ba;
$blue: #2135b5;
$blue-transparent: #0a186d80;
$blue-transparent-border: #0a186d46;
$dark-blue: #0a0a3b;
$light-violet: #5851db;
$violet: #3932b8;
$dark-violet: #252175;
$white: #dedede;
$black: #121212;
$black-transparent: #12121280;
$light-grey: #7e7e7e;
$white-transparent: #f3f4f580;
$white-transparent-border: #f3f4f546;
$violet-transparent: #3932b880;
$violet-transparent-border: #3932b846;
$dark-violet-transparent: #252175ad;
$dark-violet-transparent-hover: #252175c9;
$dark-violet-transparent-border: #25217546;

//sizes
$text-size: 1.5rem;
$text-size-mobile: 1.2rem;
$description-project: 1.2rem;
$resume-size: 1.8rem;
$border-radius: 0.375rem;
$title: 1.8rem;
$title-md: 2.2rem;
$title-lg: 2.4rem;
$sub-title: 1.6rem;
$sub-title-lg: 1.8rem;
$text-nav: 1.4rem;
$button: 1.4rem;
$anchor-mobile: 1.5rem;
$anchor-desktop: 1.7rem;
$height-nav: 70px;
$height-footer: 90px;

//breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
