@import '../../mixins.scss';
@import '../../variables.scss';

.nav {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: $height-nav;
  position: static;
  font-size: $text-nav;
  z-index: 100;

  transition: all 0.3s ease;
}
.navbar {
  display: none;
  @include lg {
    display: flex;
    position: absolute;
  }
  .info {
    display: flex;
    gap: 1rem;
    transition: filter 0.3s ease;
    .logo {
      width: 50px;
      border-radius: 50%;
    }
    .name {
      font-size: $title-md;
    }
  }
  .routes {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    a {
      li {
        @include anchor-nav-desktop;
      }
    }
  }
}

.navbarOverlay {
  z-index: 1000;
  position: fixed;
  transition:
    left 0.3s ease,
    top 0.3s ease,
    opacity 0.3s ease;
  .logo {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition:
      left 2s ease,
      filter 0.3s ease,
      opacity 0.3s ease;
    transform: translateY(-50%);
  }
  .hideButton {
    top: 47px;
    left: -275px;
  }
  .showButton {
    top: 47px;
    left: 15px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .cardOptions {
    border-top-right-radius: calc($border-radius);
    border-bottom-right-radius: calc($border-radius);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    border-left: none;
    transition:
      left 1.4s ease-in-out,
      opacity 1.4s ease,
      background-color 0.3s ease;
    .containerOptions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 0.4rem;
      .routes {
        padding: 0.4rem;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: $text-nav;
      }
    }
    .contianerButton {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem;
      .button {
        cursor: pointer;
        transition:
          color 0.3s ease,
          filter 0.3s ease;
      }
    }
  }
  .expandedOptions {
    top: 0;
    left: 0;
    opacity: 1;
  }
  .contractedOptions {
    top: 0;
    left: -260px;
    opacity: 0;
  }
}
.overlayOn {
  display: none;

  @include lg {
    pointer-events: all;
    display: flex;
    opacity: 1;
    left: 0;
    top: 30px;
  }
}
.overlayOff {
  pointer-events: none;
  opacity: 0;
  top: 0px;
  left: 5%;
  @include xl {
    left: 10%;
  }
  .cardOptions {
    opacity: 0;
    transition: opacity 0s;
  }
}
.darkModeOverlay {
  .logo {
    filter: drop-shadow(0px 0px 4px $white);
    &:hover {
      filter: drop-shadow(0px 0px 6px $violet);
    }
  }
  .cardOptions {
    border: 1px solid $white;
    @include card-dark;
    .containerOptions {
      .routes {
        a {
          li {
            @include interact-anchor;
            filter: none;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
    .contianerButton {
      .button {
        color: $white;
        filter: drop-shadow(0px 0px 4px $white);
        &:hover {
          color: $light-violet;
          filter: drop-shadow(0px 0px 4px $violet);
        }
      }
    }
  }
}
.lightModeOverlay {
  .logo {
    filter: drop-shadow(0px 0px 4px $light-violet);
    &:hover {
      filter: drop-shadow(0px 0px 6px $dark-violet);
    }
  }
  .cardOptions {
    border: 1px solid $white;
    @include card-light;
    .containerOptions {
      .routes {
        a {
          li {
            @include interact-anchor;
            &:hover {
              color: $light-grey;
              filter: none;
            }
          }
        }
      }
    }
    .contianerButton {
      .button {
        color: $white;
        filter: drop-shadow(0px 0px 4px $white);
        &:hover {
          color: $light-grey;
          filter: drop-shadow(0px 0px 4px $light-violet);
        }
      }
    }
  }
}
.navbarMobile {
  position: fixed;
  display: flex;
  @include lg {
    display: none;
  }
  .info {
    display: flex;
    gap: 1rem;
    transition: filter 0.3s ease;
    .logo {
      width: 40px;
      border-radius: 50%;
    }
    .name {
      font-size: $title;
    }
  }
  .button {
    display: grid;
    place-content: center;
    height: 22px;
    width: 22px;
    padding: 4px;
    border-radius: 0.125rem;
  }
}
.menu {
  z-index: 1000;
  position: fixed;
  transition: all 0.6s ease;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .button {
    align-self: flex-end;
    margin-right: 0.8rem;
    background-color: transparent;
    font-size: $button;
  }
  .routes {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    a {
      li {
        @include anchor-nav-mobile;
      }
    }
  }
}
.show {
  left: 0;
  opacity: 1;
}
.hide {
  left: 100vw;
  opacity: 0;
}

.darkMode {
  background: linear-gradient($black-transparent 50%, transparent 100%);
  backdrop-filter: blur(4px);
  /* border-bottom: 1px solid $white; */
  /* filter: drop-shadow(0px 0px 10px $white) */
  .info {
    &:hover,
    &:focus {
      filter: drop-shadow(0px 0px 4px $white);
    }
    .logo {
      filter: drop-shadow(0px 0px 4px $white);
    }
    .name {
      color: $white;
    }
  }
  .button {
    color: $white;
  }
  .routes {
    a {
      li {
        @include interact-anchor;
      }
    }
  }
}
.lightMode {
  background-color: $black;
  border-bottom: 1px solid $violet;
  filter: drop-shadow(0px 0px 10px $light-violet);
  .info {
    &:hover,
    &:focus {
      filter: drop-shadow(0px 0px 4px $light-violet);
    }
    .logo {
      filter: drop-shadow(0px 0px 4px $light-violet);
    }
    .name {
      color: $white;
    }
  }
  .button {
    color: $white;
  }
  .routes {
    a {
      li {
        @include interact-anchor;
      }
    }
  }
}
